.about__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.about__first-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__languages{
    display: flex;
    flex-direction: row;
    gap: 48px;
    white-space: nowrap;
}

.about__language-names, .about__levels{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__language-names div, .about__levels p{
    line-height: 24px;
}

.about__ukrainian::before{
    background: url('./../../img/svg/ukrain.svg') no-repeat;
}

.about__russian::before{
    background: url('./../../img/svg/russia.svg') no-repeat;
}

.about__english::before{
    background: url('./../../img/svg/britain.svg') no-repeat;
}

.about__german::before{
    background: url('./../../img/svg/germany.svg') no-repeat;
}

.about__language-item::before{
    display: block;
    content: '';
    width: 24px;
    height: 18px;
    margin: auto 0;
    margin-right: 10px;
}

.about__language-item::after{
    content: ':';
}

.about__language-item{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.about__second-column{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about__paragraph{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about__contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}