.contact__container{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.contact__header{
    display: grid;
    grid-template-columns: 1fr minmax(0, 800px);
    gap: 20px;
    height: 80px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact__input-set{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact__form-divided-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: .2s;
}

.contact__form-first-column{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contact__form-second-column{
    display: grid;
    width: 100%;
    height: 100%;
}

.contact__submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}