.navigation__container{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
    width: calc(100% - 96px);
    margin: 96px 48px 0;
    max-width: 1344px;
}

.navigation__menu-button {
    width: 30px;
    height: 20px;
    opacity: .4;
    display: none;
}

.navigation__pages{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navigation__page{
    transition: .2s;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    white-space: nowrap;
}

.navigation__page:hover,
.--active{
    opacity: .5;
}

.navigation__dot{
    transition: .2s;
    opacity: .5;
    margin-left: 24px;
    user-select: none;
}

.navigation__language{
    display: flex;
    align-items: center;
    user-select: none;
}

.navigation__dropdown{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: .2s;
}

.navigation__dropdown-value{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .2s;
    opacity: .8;
}

.navigation__dropdown-value:hover{
    opacity: .5;
}

.navigation__options{
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    transition: .2s;
    position: absolute;
    top: 58px;
    max-height: none;
    z-index: 4;
    margin-right: 38px;
}

.navigation__option{
    transition: .2s;
    background: #222222;
    padding: 15px 20px;
    user-select: none;
}

.navigation__option:hover{
    background: #1A1A1A;
}

.navigation__sidebar {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    transition: .2s;
    display: none;
}

.navigation__sidebar-content {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    background: #1A1A1A;
    transition: .2s;
    padding: 48px;
}

.navigation__sidebar .navigation__page {
    color: rgba(255, 255, 255);
}

.navigation__item {
    margin-bottom: 24px;
}