.services__container{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.services__grid{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.services__item{
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 600px;
}

.services__header{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.services__icon{
    width: 60px;
    height: 40px;
}

.layout__icon{
    background: url('./../../img/svg/layout_icon.svg') no-repeat;
    background-size: contain;
}

.code__icon{
    background: url('./../../img/svg/code_icon.svg') no-repeat;
    background-size: contain;
}

.services__container .button{
    margin-top: 48px;
}