.social-medias{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.telegram{
    background: url('./../../img/svg/telegram.svg') no-repeat center;
}

.whatsapp{
    background: url('./../../img/svg/whatsapp.svg') no-repeat center;
}

.github{
    background: url('./../../img/svg/github.svg') no-repeat center;
}

.email{
    background: url('./../../img/svg/main.svg') no-repeat center;
}

.social-media-item{
    width: 40px;
    height: 40px;
    user-select: none;
    outline: none;
    background-size: 22px;
    cursor: pointer;
    transition: .2s;
    border-radius: 90em;
}

.social-media-item:hover{
    background-color: rgba(255, 255, 255, .1);
}

.social-media-item:active{
    background-color: rgba(255, 255, 255, .2);
}