.textarea__container{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

#file-input{
    display: none;
}

.textarea__input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    font-family: Light;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 1.5px;
    resize: none;
    padding: 12px 24px 48px;
    background-color: transparent;
    color: #FFFFFF;
    border: 0;
    position: relative;
    z-index: 1;
    transition: .2s;
    position: absolute;
}

.textarea__input::-webkit-scrollbar{
    width: 7.5px;
    cursor: pointer;
}

.textarea__input::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: .2s;
}

.textarea__input::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.textarea__filedrop-area{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 24px;
}

.textarea__input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.textarea__icon-button{
    width: 13px;
    height: 25px;
    transition: .2s;
}

.--clip{
    background: url('./../../img/svg/files.svg') no-repeat center;
}

.--close{
    background: url('./../../img/svg/close.svg') no-repeat center;
    margin-left: -13px;
}

.textarea__field-set{
    width: 100%;
    height: 100%;
    position: relative;
}

.textarea__bottom{
    z-index: 2;
    display: flex;
}

.textarea__icon-buttons{
    display: inline-flex;
    cursor: pointer;
    transition: .2s;
    align-items: flex-end;
    padding: 24px;
    z-index: 3;
    width: 13px;
}

.textarea__icon-buttons:hover{
    opacity: .5;
}

.textarea__filedrop-input{
    display: block;
    width: 100%;
    height: calc(100% + 73px);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 5px;
    background: repeating-linear-gradient( -45deg, rgba(255,255,255,0.025), rgba(255,255,255,0.025) 5px, transparent 5px, transparent 30px );
    cursor: pointer;
    transition: .2s;
}

.textarea__filedrop-input:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.textarea__files{
    display: flex;
    gap: 8px;
    margin: 12px 0;
    overflow-x: auto;
    transition: .2s;
}

.textarea__files::-webkit-scrollbar{
    height: 0;
}

.textarea__file{
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    border-radius: 15px;
    padding: 0 15px;
    max-width: 150px;
    gap: 15px;
}

.textarea__file-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
}

.textarea__file-icon{
    display: block;
    content: '';
    min-width: 20px;
    min-height: 24px;
    background: url('./../../img/svg/file.svg') no-repeat center;
    background-size: cover;
}